/* ADD THIS LINE UNDER IN ALL FILES YOU WANT TO REACH VARIABLES AND MIXINS EASY */
/// <reference path="standardize.scss" />

section {

    &.standard {
        padding: 80px 0;
    }

    &.bg-img {

    }

    &.bg-color {

    }

    &.fullscreen {
        min-height: calc(100vh + 40px);
        width: 100%;
    }

}

//Standard containers
.content {

    &-full {
        width: 100%;
    }

    &-wide {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
    }

    &-standard {
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
    }

    &-small {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }


    &-wide, &-standard, &-small, &-mini {
    }
}

.text-block {
    position: relative;
    z-index: 1;

    &-xxl {
        width: 100%;
        max-width: 920px;
    }

    &-xl {
        width: 100%;
        max-width: 820px;
    }

    &-lg {
        width: 100%;
        max-width: 720px;
    }

    &-md {
        width: 100%;
        max-width: 620px;
    }

    &-sm {
        width: 100%;
        max-width: 520px;
    }

    &-xs {
        width: 100%;
        max-width: 420px;
    }

    &-xxs {
        width: 100%;
        max-width: 340px;
    }

    &-center {
        margin: 0 auto;
    }

    &-xxl, &-xl, &-lg, &-md, &-sm, &-xs, &-xxs {
        position: relative;
        z-index: 1;

        h1, h2, h3 {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}
