<!DOCTYPE html>
<html ew-lang>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">

    <link rel="shortcut icon" ew-for-href="$settings/ico" ew-if-key="$settings/ico" type="image/x-icon">
    <link rel="icon" ew-for-href="$settings/ico" ew-if-key="$settings/ico" type="image/x-icon">

    <script src="https://kit.fontawesome.com/aec5f8dc5f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/css.css" asp-append-version="true" />
    <script src="~/js/main.js" defer asp-append-version="true"></script>

</head>

<body ew-body-classes>
    <div id="wrapper">
        <ew-layout-template pre-body="true" />
        <section id="page">
            @RenderBody()
        </section>
        <ew-layout-template post-body="true" />
    </div>

</body>

</html>