<section class="standard">
    <div class="content">
        <div class="city" ew-for-background-image="">
            <h1>@Article.Label</h1>
            <p ew-for="subHeading"></p>
            <p ew-for="ingress"></p>
        </div>
    </div>
</section>