<section class="hero">
    <div class="bg overlay" ew-for-background-image="heroBg">
        <div class="text">
            <h1>
                <span class="heading" ew-for="heading"></span>
                <span class="sub-heading" ew-for="subHeading"></span>
            </h1>
            <p class="ingress" ew-for="ingress"></p>
        </div>
    </div>
</section>
