<section class="standard">
    <div class="content">
        <ew-list for-key="usp">
            <div class="bg">
                <div class="bg-media">
                    <ew-template for-key="image" />
                </div>
            </div>

            <h3 ew-for="heading"></h3>


        </ew-list>

    </div>
</section>
